/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap');


.custom-card {
  background-color: #f7f8fc;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%; /* This is fine — keeps card within Col */
}

.chart-container {
  position: relative;
  width: 100%;
  height: 300px;
}


.chart-wrapper {
  position: relative;
  width: 100%;
  height: 300px;
}

/* Set Quicksand as default site-wide */
body {
  font-family: 'Quicksand', sans-serif;
  background-color: #f2eeff;
}

/* Card Titles (Graph Titles) */
.graph-title {
  font-family: 'Raleway', sans-serif;
  font-size: 1.65rem;
  font-weight: 1000;
  color: #333;
}

.dashboard-title {
  font-family: 'Varela Round', sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #1c1c37;
  text-align: left;
}

.dashboard-description {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  color: #222222;
  text-align: left;
  margin-top: 0.25rem;
}

.dataset-source {
  font-family: 'Quicksand', sans-serif !important;
  font-size: 1.1rem !important;
  color: #222222 !important;
}

.dataset-source a {
  color: #007bff;
  text-decoration: underline;
}

.about-text {
  color: #7a3737;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.9rem;
  user-select: none;

}
.about-text:focus {
  outline: 2px solid #007bff;
  outline-offset: 2px;
}

/* Make tooltip text use Quicksand font */
.tooltip-inner {
  font-family: 'Quicksand', sans-serif !important;
  font-size: 0.85rem;
}

.language-toggle {
  font-weight: bolder;
  cursor: pointer;
  font-size: 1.2rem;
  color: #274839; /* default blue */
  transition: color 0.3s ease;
  text-decoration: underline;
}

.language-toggle:hover {
  color: #000000; /* darker on hover */
}
